/*******************header*******************/
header{
    position: fixed;
    top: 0;
    left: 0;
    right:0 ;
    background-color: white;
    position: fixed;
    z-index: 9999;
 
}
header .top-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
header .top-nav .logo{
    width: 150px;
}
header .top-nav .search{
    width: 540px;
    border: 2px solid var(--main-color);
    position: relative;
    border-radius: 50px;
    overflow: hidden;
 
}
header .top-nav .search input{
    padding: 10px 160px 10px 10px;
    outline: none;
 border: none;
 width: 100%;
}
header .top-nav .search button{
    position: absolute;
    top: 0;
    right: 0;
    outline: none;
    border: none;
    width: 150px;
    background-color: var(--main-color);
    height: 100%;
    font-size: 30x;
    color: var(--dark-color);
    cursor: pointer;
}

header .top-nav .card_header{
    display: flex;
    gap: 10px;
    align-items: center;
}
header .top-nav .card_header i{
    color:var(--dark-color) ;
    font-size: 20px;
    border: 1px solid var(--dark-color);
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s ease;
}
header .top-nav .card_header i:hover{
    background-color: var(--main-color);
    color: white;
   
}
header .top-nav .card_header .icon-card{
    position: relative;
}
header .top-nav .card_header .cownt_item{
    position: absolute;
    background-color: var(--main-color);
    width: 20;
    height: 20;
    border-radius: 50%;
    text-align: center;
    align-items: 20px;
    font-size: 13px;
    top: -5px;
    right: 0px;
    color: var(--dark-color);
    border: 1px solid var(--dark-color);
}

header .top-nav .card_header .total_price p{
          margin-bottom: 8px;
}

:root{
    --main-color:hsl(49, 98%, 57%);
    --dark-color:rgba(29, 27, 27, 0.966);
    --parg-color:rgba(146, 138, 138, 0.664);
    --border-color:rgba(206, 219, 223, 0.747);
}
header nav{
    border-top: 1px solid var(--border-color);
}
 header .linkes{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .linkes ul{
   display: flex;
  gap: 70px;
}
header .linkes ul li a{
        color: var(--dark-color);
        text-transform: uppercase;
        font-weight: 500;
        font-size: 15px;
}

header .linkes ul li {
    position: relative;
    padding: 20px 0;
}

header .linkes ul li::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background:var(--main-color) ;
    transition: 0.3s ease-in-out;
}
header .linkes ul li.active::after,
header .linkes ul li:hover::after{
    width: 100%;
}


header .linkes .login-signup a{
color: var(--dark-color);
padding: 10px 20px;
background-color: var(--main-color);
margin-left: 10px;
border-radius: 5px;
}



header .linkes ul .logo_men,
header .linkes .btn_coby_men,
header .linkes ul .btn_close_men{
    display: none;
}

/********************************************/

@media (max-width:1000px) {
    
    header .top-nav .search
    {
        width: 420px;
    }

    header .top-nav .search button{
        width: 100px;
    }

}

@media (max-width:900px){

    body{
        margin-top: 140px;
    }
    header .top-nav{
        flex-wrap: wrap;
    }
    header .top-nav .search{
        order: 3;
        width: 80%;
        margin: 10px auto;
    }
    header .linkes{
        padding: 20px 0;
    }
    header .linkes ul{
        position: fixed;
        top: 0;
        left: -420px;
        bottom: 0;
        background: white;
        flex-direction: column;
        gap: 20px;
        width: 400px;
        border-right: 1px solid var(--border-color);
          text-align: center;
          transition: 0.3s ease-in-out;

    }
    header .linkes ul .logo_men{
        width: 190px;
        margin: 20px auto;
        display: block;
        
    }
    header .linkes ul.active{
        left: 0;
    }
    header .linkes ul .btn_close_men{
        position: absolute;
        top: 20px;
        right: 30px;
        font-size: 40px;
        color: var(--main-color);
        display: block;
    }
    header .linkes .btn_coby_men{
        display: block;
        font-size: 25px;
    }
}
@media (max-width:500px){
    header .linkes ul {
        width: 300px;
    }
    header .linkes .login-signup{
        width: 450px;
        font-size: 15px;
        border: 20px;
    }
}

/****************************************/































.jeap{ display: flex;
    margin-top: 200PX;
    justify-content: center;
    background-color: black;
    width: 100%;
}
.ko{ display: flex;
    justify-content: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 12px;
}
.io{font-size: 12px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.er{border: 1.5px  solid black;
    width: 100%;
}
.et{ display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}
.tt{ font-size: 0px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 0.5;
    text-align: center;
}
.tt:hover{
    font-size: 15px;
    transform: scale(1.05,1.05);
}